<mat-form-field class="form-field" (click)="isOpen = !isOpen" (click)="isOpenMinutes = false" cdkOverlayOrigin #trigger="cdkOverlayOrigin" >
    <mat-label>Hours</mat-label>
    <input matInput type="number" [(ngModel)]="hours" min="0"max="12">
  </mat-form-field>
  <mat-form-field class="form-field" (click)="isOpenMinutes = !isOpenMinutes" (click)="isOpen = false" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <mat-label>Minutes</mat-label>
    <input matInput type="number" [(ngModel)]="minutes" min="0" max="59">
  </mat-form-field>

  <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <ul class="hours-list">
    <li *ngFor="let h of allHours" (click)="setHours(h)" (click)="isOpen = false">{{h}}</li>
  </ul>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpenMinutes"
>
  <ul class="minutes-list">
    <li *ngFor="let m of allMinutes" (click)="setMinutes(m)" (click)="isOpenMinutes = false">{{m}}</li>
  </ul>
</ng-template>

<mat-form-field class="zone" (click)="setZone()" (click)="isOpen = false" (click)="isOpenMinutes = false"> 
    <mat-label>Zone</mat-label>
    <input matInput type="text" [(ngModel)]="zone" readonly>
  </mat-form-field>

  <button mat-raised-button color="primary" class="button" (click)="setTime()" (click)="isOpen = false" (click)="isOpenMinutes = false">Enter</button>

  <p *ngIf="showTime" class="message">The time is: {{time}}</p>
  <p *ngIf="showError" class="message">Not a valid format.</p>